.nav-bar {
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 38px;
  overflow: hidden;
  background-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: hsla(0, 0%, 0%, 0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 1;
}

#logo {
  order: 1;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Audiowide', sans-serif;
  font-size: 30px;
  letter-spacing: -2px;
  color: #ffffff;
  text-decoration: none;
}

.nav-bar-menu {
  order: 2;
}

.nav-bar-menu-icon {
  margin-top: 5px;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  animation-delay: .4s;
}

.nav-bar-menu-icon:hover {
  cursor: pointer;
  color: #ffffffb7;
}

.nav-bar-menu-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 220px;
  z-index: 2;
  min-width: 120px;
  background-color: #ffffff;
  -moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  overflow: hidden;
  animation-duration: .4s;
}

.nav-bar-menu-list {
  margin-bottom: 10px;
}

.nav-bar-menu-list-item {
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.menu-item-source-icon-container {
  margin-top: 10px;
}

.scroll-to-top-section {
  order: 3;
  flex-grow: 1;
  height: 100%;
  margin-left: 20px;
}

.scroll-to-top-section:hover {
  cursor: pointer;
}

