.news-feed-container {
  /* width: 50%; */
  margin-top: 40px;
}

.news-feed-cards-container {
  max-height:11880px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.news-feed-card-link {
  text-decoration: none;
}

.news-feed-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 0%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 38px;
  -moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  overflow: hidden;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  animation-delay: .4s;
  animation-duration: 1.5s;
}

.news-feed-card-img-container {
  order: 1;
  height: 220px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  animation-delay: .8s;
  animation-duration: 1.5s;
}

.news-feed-card-img {
  max-width: 400px;
}

.news-feed-card-img-container:after {
  content: "";
  position: absolute;
  top: 190px;
  left: 0;
  border-style: solid;
  border-width: 0 0 30px 280px;
  border-color: transparent transparent white;
}

.news-feed-card-title {
  order: 2;
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow: hidden;
  color: #000000;
}

.news-feed-card-author {
  order: 3;
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 12px;
  color: #797979;
}