.sources {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
  background: #f5f5f5;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  animation-duration: 1s;
}

.source {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  animation-delay: .9s;
  animation-duration: 2.5s;
}

.source-title {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
}