.source-page {
  min-height: 860px;
  width: 1240px;
  margin: auto;
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 38px auto;
}

.source-page-sidebar {
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
}

.source-page-identifier {
  order: 1;
  text-align: center;
}

.source-topics-container {
  order: 2;
  display: flex;
  justify-content: center;
}

.source-topics {
  margin-top: 40px;
  animation-delay: .5s;
}

.source-page-main {
  grid-column: 2;
  grid-row-start: 2;
  text-align: center;
}

.source-page-search-bar {
  display: flex;
  align-items: center;
  width: 50%;
  margin: auto;
  margin-top: 25px;
  border: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 0%, 0.1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.source-page-search-bar-icon {
  order: 1;
  margin-left: 10px;
  margin-top: 3px;
  color: #4f5b66;
}

.source-page-search-bar-icon:hover {
  cursor: pointer;
}

.source-page-search-input {
  flex-grow: 1;
  order: 2;
  height: 30px;
  width: 50%;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 10pt;
  margin-left: 10px;
  margin-right: 10px;
}

.source-page-search-input:focus {
  outline: none;
}

.jump-icon {
  position: fixed;
  bottom: 2%;
  font-size: 42px;
}