.topics-header {
  font-size: 18px;
  color: #797979;
}

.topics-list {
  list-style-type: none;
  padding-left: 16px;
}

.topic {
  margin-top: 15px;
  margin-bottom: 15px;
  transition-duration: 400ms;
}

.topic:hover {
  cursor: pointer;
  color: #ff6600;
}

.active-topic {
  color: #ff6600;
}